:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .options-bar, body .bg-for-page {
  background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(170, 249, 255, 0.2)));
  background-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.4), rgba(170, 249, 255, 0.2));
  -webkit-box-shadow: 0.1rem 0.1rem 1rem rgba(128, 128, 128, 0.3);
          box-shadow: 0.1rem 0.1rem 1rem rgba(128, 128, 128, 0.3);
  border: solid 0.2rem;
  border-image-slice: 1;
  border-image-source: linear-gradient(to top right, rgba(255, 255, 255, 0.4), rgba(170, 249, 255, 0.3));
}

body .options-bar {
  height: 4rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .options-bar .txt-options, body .options-bar .document-options {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .options-bar .txt-options .option, body .options-bar .document-options .option {
  width: 2.5rem;
  cursor: pointer;
}

body .options-bar .txt-options {
  width: 35%;
}

body .options-bar .document-options {
  width: 45%;
}

body .bg-for-page {
  height: 85%;
  width: 90%;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .bg-for-page .page {
  height: 95%;
  width: 75%;
  padding: 5rem;
  outline: none;
  resize: none;
  border: solid 0.1rem #979797;
  font-size: 1.5rem;
  background-color: white;
  overflow: auto;
}

body .modal-bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .modal-bg .modal {
  height: 60%;
  width: 40%;
  background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(170, 249, 255, 0.2)));
  background-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.4), rgba(170, 249, 255, 0.2));
  -webkit-box-shadow: 0.1rem 0.1rem 1rem rgba(128, 128, 128, 0.3);
          box-shadow: 0.1rem 0.1rem 1rem rgba(128, 128, 128, 0.3);
  border: solid 0.2rem;
  border-image-slice: 1;
  border-image-source: linear-gradient(to top right, rgba(255, 255, 255, 0.4), rgba(170, 249, 255, 0.3));
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .modal-bg .modal .div-for-doc {
  height: 20rem;
  width: 80%;
  margin: 1rem 1rem 1rem 1rem;
  background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(170, 249, 255, 0.2)));
  background-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.4), rgba(170, 249, 255, 0.2));
  -webkit-box-shadow: 0.1rem 0.1rem 1rem rgba(128, 128, 128, 0.3);
          box-shadow: 0.1rem 0.1rem 1rem rgba(128, 128, 128, 0.3);
  border: solid 0.2rem;
  border-image-slice: 1;
  border-image-source: linear-gradient(to top right, rgba(255, 255, 255, 0.4), rgba(170, 249, 255, 0.3));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

body .modal-bg .modal .div-for-doc .show-date {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
/*# sourceMappingURL=main.css.map */